@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 64px;
  margin-top: 1rem;
}

h2 {
  font-size: 32px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
